*{
    padding: 0;
    margin: 0;
}
.container{
    width: 1140px;
    margin: 0 auto;
    border: 2px solid red;

}
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
     color: rgba(31, 46, 53, 0.8);
}
#header{
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 0;
}
body{
    font-family: "Roboto Light",sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(31, 46, 53, 0.8);
    padding: 0 20px;
}
.navbar-nav select {
    border: none;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(31, 46, 53, 0.8);
    margin: 0 20px;
    outline: none;
}
.navbar-icons{
    font-size: 24px;
    margin: 0 10px;
}
.hero-group h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 133.69%;
    color: #1F2E35;
    padding-bottom: 20px;
}
.hero-group h1 span{
    color: #f5402d;
}
.hero-group p{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #30444E;
}
.hero-group button{
    width: 161px;
    height: 53px;
    background: #EE4248;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    margin: 20px 0;
    transition: 0.4s;
    border: 2px #f5402d solid;
}
.hero-group button:hover{
   background: transparent;
    transform: scale(1.1);
    color: #f5402d;
}
.hero2-group{
    width: 450px;
}
.hero2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}
.hero2-group h1{
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    color: #1F2E35;
    padding: 60px 0;
}
.hero2-group p{
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #30444E;
}
#hero2{
    background: #F7F7F7;
    padding-bottom: 60px;
    padding-top: 110px;
}
.hero2-group span{
    color: #f5402d;
}
.content p{
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #30444E;
}
.hero3-h1{
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    color: #1F2E35;
    padding-bottom: 40px;
    padding-top: 85px;
}
.container-cont3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.content h2{
    font-weight: 500;
    font-size: 28px;
    line-height: 133.69%;
    color: #EE4248;
    padding: 20px 0;
}
.content button{
    width: 119px;
    height: 40px;
    background: #EE4248;
    border-radius: 4px;
    border: none;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    margin: 20px 0;
    transition: 0.4s;
    border: 2px #f5402d solid;
}
.content button:hover{
    background: transparent;
    transform: scale(1.1);
    color: #f5402d;
}
.hero3-group{
    display: flex;
    padding-top: 90px;
    padding-left: 50px;
}
.hero4{
    height: 38px;
    background: #EE4248;
    text-align: center;
    padding-top: 16px;
}
.hero4-link{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}
#footer{
    padding: 30px 0;
}
.hero3-group-g2{
    padding-top: 13px;
    padding-left: 40px;
}
.hero3-group-g2 p{
    font-weight: 200;
    font-size: 14px;
    line-height: 149.19%;
    color: #263238;
}
.hero3-group-g p{
    font-weight: 200;
    font-size: 14px;
    line-height: 149.19%;
    color: #263238;
}
.hero3-group-g2 h2{
    padding-bottom: 20px;
}
